.PlayerList {
    border: 2px solid gray;
}
.PlayerList > .title {
    background-color: gray;
    padding: 10px;
    color: white;
}
.PlayerList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}